.container-kittens,
.kittens-carusel {
  background-color:#deedf4;
}

.slick-slide {
  margin-right:40px!important;
  margin-top: 30px;
}

.first-carousel .slick-next {
  right: 20px;
}

.first-carousel .slick-prev {
  left: 20px;
  z-index: 1;
}

@media (max-width:768px) {
  .slick-slide {
    margin-right:20px!important;
  }
}